@import url(../variables);

.Testimonials {
	background: @testimon;

	&-cards{
		padding-top: 75px;
		text-align: left;
	}
	&-item {
		width: calc(100% / 2);
	}

	&-itemDesc {
		position: relative;
	}
}