.u-wrapper, .u-width100 {
	width: 100%;
}
.u-width1140{
	width: 1140px;
}
.u-width944 {
	width: 944px;
}
.u-padding15{
	padding-right: 15px;
	padding-left: 15px;
}
.u-padding20{
	padding-right: 20px;
	padding-left: 20px;

	@media (max-width: 720px) {
		padding-left: 0;
		padding-right: 0;
	}
}
.u-padding40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.u-paddingSect{
	padding-top: 84px;
	padding-bottom: 80px;
}
.u-flexStart{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
.u-flexEnd{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: center;
}
.u-flexCenter{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.u-flexSpace {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.u-ciclePhoto {
	border-radius: 50%;
}
.u-paddingTop170 {
	padding-top: 185px;
}


.u-textLine--services:after {
	content: '';
	display: block;
	position: absolute;
	width: 87px;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAAECAYAAAD70qM1AAAAJklEQVQ4T2NkYGBQYxgFNAkBxtHApUm4gg0dDVzahe1o4NIwbBkAFuAAnXhRRqMAAAAASUVORK5CYII=
				) no-repeat;
	bottom: 61px;
    left: 46%;

    @media (max-width: 670px) {
    	bottom: 90px;
    	left: 42%;
    }
    @media (max-width: 423px) {
    	bottom: 116px;
    }
}
.u-textLine--team:after {
	content: '';
	display: block;
	position: absolute;
	width: 87px;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAAECAYAAAD70qM1AAAAJ0lEQVQ4T2Pcd+n+foZRQJMQYBwNXJqEK9jQ0cClXdiOBi4Nw5YBAE7LDL3kvHWBAAAAAElFTkSuQmCC
		) no-repeat;
	bottom: 40px;
    left: 46%;

    @media (max-width: 670px) {
    	bottom: 65px;
    	left: 41%;
    }
    @media (max-width: 423px) {
    	bottom: 116px;
    }
}
.u-textLine--skill:after {
	content: '';
	display: block;
	position: absolute;
	width: 87px;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAAECAYAAAD70qM1AAAAJ0lEQVQ4T2O8/+Ltf4ZRQJMQYBwNXJqEK9jQ0cClXdiOBi4Nw5YBAF6CDtGuL96TAAAAAElFTkSuQmCC
		) no-repeat;
	bottom: 61px;
    left: 46%;

    @media (max-width: 670px) {
    	bottom: 66px;
    	left: 42%;
    }
    @media (max-width: 423px) {
    	bottom: 116px;
    }
}
.u-textLine--portfolio:after {
	content: '';
	display: block;
	position: absolute;
	width: 87px;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAAECAYAAAD70qM1AAAAJ0lEQVQ4T2N8erj+P8MooEkIMI4GLk3CFWzoaODSLmxHA5eGYcsAAOIIDJ1d5iPBAAAAAElFTkSuQmCC
		) no-repeat;
	bottom: 61px;
    left: 46%;

    @media (max-width: 670px) {
    	bottom: 66px;
    	left: 42%;
    }
    @media (max-width: 423px) {
    	bottom: 116px;
    }
}
.u-textLine--testimonials:after {
	content: '';
	display: block;
	position: absolute;
	width: 87px;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAAECAYAAAD70qM1AAAAJklEQVQ4T2NkYGBQYxgFNAkBxtHApUm4gg0dDVzahe1o4NIwbBkAFuAAnXhRRqMAAAAASUVORK5CYII=
		) no-repeat;
	bottom: 40px;
    left: 46%;

    @media (max-width: 670px) {
    	bottom: 40px;
    	left: 41%;
    }
}
.u-textLine--get:after {
	content: '';
	display: block;
	position: absolute;
	width: 87px;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAAECAYAAAD70qM1AAAAJ0lEQVQ4T2NUtyr8zzAKaBICjKOBS5NwBRs6Gri0C9vRwKVh2DIAAMAYB0k21xKBAAAAAElFTkSuQmCC
		) no-repeat;
	bottom: 40px;
    left: 46%;

    @media (max-width: 670px) {
    	bottom: 65px;
    	left: 41%;
    }
    @media (max-width: 423px) {
    	bottom: 90px;
    }
}