.u-wrapper {
	width: 100%;
}
.u-width1140{
	width: 1140px;
}
.u-padding15{
	padding-right: 15px;
	padding-left: 15px;
}
.u-padding20{
	padding-right: 20px;
	padding-left: 20px;
}
.u-paddingSect{
	padding-top: 100px;
	padding-bottom: 100px;
}
.u-flexStart{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
.u-flexEnd{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: center;
}
.u-flexCenter{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.u-flexSpace {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.u-ciclePhoto {
	border-radius: 50%;
}
.u-paddingTop170 {
	padding-top: 170px;
}